<!DOCTYPE html>//永遠的第一行開頭，告知瀏覽器這是HTML5，可略

<html lang="zh-tw">//lang，設定使用語言，對應20行結束，可略

    <head>//網頁檔頭開始，對應16行結束，可略

       <title>第一個網頁測試</title>//網頁分頁標籤

       <meta charset="UTF-8">//設定語言

      <!--<meta http-equiv="refresh" content="2;url=/v1/pokemon/all">//兩秒後跳到另一個頁面-->

       <style>

           /*

            * 這裡放CSS，而且style中只能放斜線星號註解

            */

       </style>

      

       <script>

           //java script

       </script>

    </head>

    <body>//可略

       <h2>hello</h2>
        <p><input type="button" value="test" onclick="location.href='/v1/pokemon/all'">
        </p>
    </body>

</html>